{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/busca.css' %}">
        <title>Busca por Tags</title>


    </head>
    <body>
        <div class="topo">
            <h1><a>Busca por Tags</a></h1>
        </div>

                    {% block content %}

                    {% endblock %}



    </body>
</html>
