{% load staticfiles %}
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>Busca por Tags</title>
        <style>
              body {
                background-color: #ccc;
              }
              .container{
                background-color: #fff;
              }
              .row{
                background-color: #fff;
              }
              .table-striped > tbody > tr{
                background-color: #000;
              }
        </style>

    </head>
    <body>
        <div class="container">
            <h1>Busca por Tags</h1>
        </div>
<div class="container">
    <div class="com-md-6 com-md-offset-3">

                    {% block content %}

                    {% endblock %}
    </div>



</div>

    </body>
</html>
