{% extends 'busca/base.html' %}
{% block title %} -  Contato {% endblock %}
{% block body %} -  Contato  {% endblock %}
{% block content %}

<h4>Nome: {{pessoa.nome}}</h4> <br>
<h4>Email: {{pessoa.mail}}</h4>
<h4>Projeto: {{pessoa.projeto}}</h4>

<br>
conhecimentos:
{% for pessoa_tag in pessoa_tags %}
    <div class="tags">
        <div class="end">
            <p align="left">
                <br>

            Linguagem {{pessoa_tag.tag.nome}}
            Nivel: {{pessoa_tag.rating}}



</p>
</div>
    </div>
{% endfor %}
{% endblock content %}
