{% extends 'busca/base.html' %}
{% block title %} -  Projetos {% endblock %}
{% block body %} -  Projetos {% endblock %}
{% block content %}


    <div class="tags">
  <table class="table table-responsive">
<thead>
  <tr>
    <th>Projeto</th>
    <th>Tecnologias</th>
    <th>Desenvolvedores</th>

  </tr>
</thead>
</div>
<tbody>

{% for projeto in projetos %}

        <tr>
          <td>{{projeto.projeto}}</td>
          <td> {% for tag in tags %}{{ tag.nome }}<br>{% endfor %}</td>
          <td> {% for dev in devs %}{{ dev.nome }}<br>{% endfor %}</td>


        </tr>

{% endfor %}
    </tbody>
</div>
</table>
{% endblock content %}
