{% extends 'busca/base.html' %}
{% block content %}


    <div class="tags">
  <table class="table">
<thead>
  <tr>
    <th>Nome</th>
    <th>Linguagem </th>
    <th>Rating</th>
    <th>Observação </th>
  </tr>
</thead>
</div>

</table>

{% for tag in tags %}

  <table class="table table-striped">

    <tbody>
        <tr>
          <td>  <a href="/pessoa/{{ tag.pessoa.id }}">{{ tag.pessoa.nome }}</a></td>
          <td> {{tag.tag}}</td>
          <td>  {{tag.rating}}</td>
          <td> {{tag.obs}}</td>
        </tr>

    </tbody>
</table>

{% endfor %}
{% endblock content %}
